*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}
.barra {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
  list-style-type: none; 
  background-color: black; 
  position: sticky; 
  text-align: center; 
  width: 100%; 
  margin: auto;
  z-index: 100;

}

.barra ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.barra li {
  display: inline-block;
  height: 50px;
  padding: 10px;
}

.barra a {
  font-size: 32px;
  color: white;
  text-decoration: none;
  padding-left: 100px;
  padding-right: 100px;
}

.barra a:hover {
  background-color: white;
  color: black;
}
.img{
    margin-right: 600px;

}
section{
    display: flex;
    justify-content: center;
align-items: center;
  height: 665px;
width: 100%;
background: url(../img/milky-way-2695569_1280.jpg)no-repeat;
background-position: center;
background-size: cover;

}
.form-box{
position: relative;
width: 400px;
height: 450px;
background: transparent;
border: 2px solid rgba(255,255,255,0.5);
display: flex;
justify-content: center;
align-items: center;
}

h2{
font-size: 2em;
color: rgb(231, 245, 105);
text-align: center;
}

.inputbox{
position: relative;
margin: 30px 0;
width: 310px;
border-bottom: 2px solid #fff;
}
.inputbox label{
position: absolute;
top: 50%;
left: 5px;
transform: translateY(-50%);
color: rgb(8, 231, 64);
font-size: 1em;
pointer-events: none;
transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
width: 100%;
height: 50px;
background: transparent;
border: none;
font-size: 1em;
padding:0 35px 0 5px;
color: #fff;
}

.inputbox ion-icon{
position: absolute;
right: 8px; 
color: #fff;
font-size: 1.2em;
top: 20px;
}
.forget{
margin: -15px 0 15px;
font-size: .9em;
color: #fff;
display: flex;
justify-content: center;
}
.forget label input{
margin-right: 3px;
}

.forget label a{
color: #fff;
text-decoration: none;
}

.forget label a:hover{
    text-decoration: underline;
}
button{
width: 100%;
height: 40px;
border-radius: 40px;
border: none;
outline: none;
cursor: pointer;
font-size: 1em;
font-weight: 600;
}
.register{
font-size: .9em;
color: #fff;
text-align: center;
margin: 25px 0 10px;
}
.register p a{
text-decoration: none;
color: #fff;
font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
footer{
  width: 100%;
  margin: auto;
}
 .flex-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 15px;


}
.by { 
  text-align: center;
  order:1;
  flex-grow:0;
  flex-shrink:1;
  align-self:auto;
  margin-left: 45px;
}
.by span{
  color: grey;
  opacity: 0.5;
}
    
.redes { 
  order:2;
  margin-right: px;
}
.redes a img{
  padding-top: 50px;
  padding-right: 40px;
  display: inline-block;
  width: 60px;
  height: 60px;
}
    
.info { 
  order:3;
  color: white;
  font-size: 20px;
  display: grid;
}

@media (max-width: 767px) {
  *{
    overflow-x: hidden;
  }
  body{
    width: 100%;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .img {
    order: 1;
    padding-bottom: 50px;
    margin-left: 0px;
    margin-right: 150px;
  }

  .form-box {
    order: 2;
    padding-right: 120px;
    padding-left: 500px;
  }
 
  .by {
    margin-left: 0;
  }

  .redes a img {
    padding-top: 10px;
    padding-right: 20px;
    width: 40px;
    height: 40px;
  }
  footer .flex-container {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  footer .by {
    margin-bottom: 10px;
  }

  footer .redes {
    margin: 10px 0;
    text-align: center;
  }

  footer .redes a img {
    padding: 10px;
  }

  footer .info {
    text-align: center;
  }
}
@media screen and (max-width: 1024px){
  .form-box{
    margin-right: 150px;
    margin-left: -250px;
  }
  .img {
    margin-left: 150px;
  }

}



